BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 80
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
BinPackArguments: false
AlignAfterOpenBracket: Align
PenaltyBreakBeforeFirstCallParameter: 1
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignTrailingComments: false
